<?xml version="1.0"?>
<config>
    <modules>
        <Fuza_Local>
            <version>0.1.0</version>
        </Fuza_Local>
    </modules>

    <global>
        <models>
            <fuza_local>
                <class>Fuza_Local_Model</class>
            </fuza_local>
        </models>
		<resources>
			<fuza_local_setup>
				<setup>
					<module>Fuza_Local</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</fuza_local_setup>
		</resources>
    </global>

</config>
