<?xml version="1.0" encoding="UTF-8"?>
<!--

 -->
<config>
    <modules>
        <Tagon_GroupsCatalog>
            <version>0.3.6</version>
        </Tagon_GroupsCatalog>
    </modules>
    <global>
        <blocks>
            <tagon_groupscatalog>
                <class>Tagon_GroupsCatalog_Block</class>
            </tagon_groupscatalog>
        </blocks>
        <models>
            <tagon_groupscatalog>
                <class>Tagon_GroupsCatalog_Model</class>
                <resourceModel>tagon_groupscatalog_resource</resourceModel>
            </tagon_groupscatalog>
            <tagon_groupscatalog_resource>
                <class>Tagon_GroupsCatalog_Model_Resource</class>
                <entities>
                    <product_index>
                        <table>groupscatalog_product_idx</table>
                    </product_index>
                    <category_index>
                        <table>groupscatalog_category_idx</table>
                    </category_index>
                </entities>
            </tagon_groupscatalog_resource>
            <!-- rewrite the category flat resource model to filter the flat catalog queries -->
            <catalog_resource>
                <rewrite>
                    <category_flat>Tagon_GroupsCatalog_Model_Catalog_Resource_Category_Flat</category_flat>
                </rewrite>
            </catalog_resource>
            <!-- rewrite the catalogseach fulltext collection to add the filter to the getSelectCountSql() method -->
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>Tagon_GroupsCatalog_Model_CatalogSearch_Resource_Fulltext_Collection</fulltext_collection>
                </rewrite>
            </catalogsearch_resource>
            <!-- rewrite the wishlist item collection to add the filter (by setting the event prefix and object) -->
            <wishlist_resource>
                <rewrite>
                    <item_collection>Tagon_GroupsCatalog_Model_Wishlist_Resource_Item_Collection</item_collection>
                </rewrite>
            </wishlist_resource>
            <sitemap_resource>
                <rewrite>
                    <catalog_category>Tagon_GroupsCatalog_Model_Sitemap_Resource_Catalog_Category</catalog_category>
                    <catalog_product>Tagon_GroupsCatalog_Model_Sitemap_Resource_Catalog_Product</catalog_product>
                </rewrite>
            </sitemap_resource>
        </models>
        <helpers>
            <tagon_groupscatalog>
                <class>Tagon_GroupsCatalog_Helper</class>
            </tagon_groupscatalog>
        </helpers>
        <resources>
            <tagon_groupscatalog_setup>
                <setup>
                    <module>Tagon_GroupsCatalog</module>
                    <class>Tagon_GroupsCatalog_Model_Resource_Setup</class>
                </setup>
            </tagon_groupscatalog_setup>
        </resources>
        <index>
            <indexer>
                <!-- The code is limited to 30 characters, that is why I leave out the namespace prefix here -->
                <groupscatalog_product>
                    <model>tagon_groupscatalog/indexer_product</model>
                </groupscatalog_product>
                <groupscatalog_category>
                    <model>tagon_groupscatalog/indexer_category</model>
                </groupscatalog_category>
            </indexer>
        </index>
        <tagon_groupscatalog>
            <disabled_on_routes>
                <api/>
                <paypal/>
                <paypaluk/>
                <authorizenet/>
                <buckaroo3extended/>
            </disabled_on_routes>
        </tagon_groupscatalog>
        <events>
            <controller_front_init_before>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <class>tagon_groupscatalog/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </tagon_groupscatalog>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogProductCollectionLoadBefore</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_product_collection_load_before>
            
            <!-- fix for https://github.com/Vinai/groupscatalog/issues/76 -->
            <!-- still need to add regression test -->
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogProductCollectionLoadBefore</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_product_collection_apply_limitations_after>
            
            <catalog_category_collection_load_before>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogCategoryCollectionLoadBefore</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_category_collection_load_before>
            <catalog_product_load_after>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogProductLoadAfter</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_product_load_after>
            <catalog_category_load_after>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogCategoryLoadAfter</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_category_load_after>
            <catalog_product_collection_before_add_count_to_categories>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogProductCollectionBeforeAddCountToCategories</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_product_collection_before_add_count_to_categories>
            <sales_quote_merge_before>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>salesQuoteMergeBefore</method>
                    </tagon_groupscatalog>
                </observers>
            </sales_quote_merge_before>
            <wishlist_item_collection_load_before>
                <observers>
                    <tagon_groupscatalog>
                        <type>singleton</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>wishlistItemCollectionLoadBefore</method>
                    </tagon_groupscatalog>
                </observers>
            </wishlist_item_collection_load_before>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <catalog_category_save_after>
                <observers>
                    <tagon_groupscatalog>
                        <type>model</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>catalogCategorySaveAfter</method>
                    </tagon_groupscatalog>
                </observers>
            </catalog_category_save_after>
            <customer_group_save_after>
                <observers>
                    <tagon_groupscatalog>
                        <type>model</type>
                        <model>tagon_groupscatalog/observer</model>
                        <method>customerGroupSaveAfter</method>
                    </tagon_groupscatalog>
                </observers>
            </customer_group_save_after>
            <controller_action_predispatch_adminhtml_catalog_product_edit>
                <observers>
                    <tagon_groupscatalog>
                        <type>model</type>
                        <class>tagon_groupscatalog/observer</class>
                        <method>controllerActionPredispatchAdminhtmlCatalogProductEdit</method>
                    </tagon_groupscatalog>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_edit>
            <controller_action_predispatch_adminhtml_catalog_category_edit>
                <observers>
                    <tagon_groupscatalog>
                        <type>model</type>
                        <class>tagon_groupscatalog/observer</class>
                        <method>controllerActionPredispatchAdminhtmlCatalogCategoryEdit</method>
                    </tagon_groupscatalog>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_category_edit>
        </events>
        <translate>
            <modules>
                <Tagon_GroupsCatalog>
                    <files>
                        <default>Tagon_GroupsCatalog.csv</default>
                    </files>
                </Tagon_GroupsCatalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <tagon_groupscatalog>
                    <file>tagon/groupscatalog.xml</file>
                </tagon_groupscatalog>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tagon_GroupsCatalog before="Mage_Adminhtml">Tagon_GroupsCatalog_Adminhtml</Tagon_GroupsCatalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <tagon_groupscatalog>
            <general>
                <is_active>1</is_active>
                <product_mode>show</product_mode>
                <product_default_show>-1</product_default_show>
                <product_default_hide>-1</product_default_hide>
                <category_mode>show</category_mode>
                <category_default_show>-1</category_default_show>
                <category_default_hide>-1</category_default_hide>
                <auto_refresh_block_cache>0</auto_refresh_block_cache>
                <entity_hidden_behaviour_guest>404</entity_hidden_behaviour_guest>
                <entity_hidden_behaviour_customer>404</entity_hidden_behaviour_customer>
                <entity_hidden_redirect_guest>customer/account/login</entity_hidden_redirect_guest>
                <entity_hidden_redirect_customer>cms</entity_hidden_redirect_customer>
                <display_entity_hidden_msg>0</display_entity_hidden_msg>
                <entity_hidden_msg_guest>Please register an account and log in.</entity_hidden_msg_guest>
                <entity_hidden_msg_customer>Please contact us to request further access privileges.</entity_hidden_msg_customer>
                <show_multiselect_field>1</show_multiselect_field>
            </general>
        </tagon_groupscatalog>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Tagon_GroupsCatalog/>
            </modules>
        </suite>
    </phpunit>
</config>
