
.mfv-7 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-7 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-7 { background-image: url(../m-image/6/2/atleticoparan.png); }
.mfv-7 .m-layer1 { background-image: none; }

.mfv-7.hovered { background-image: none; }
.mfv-7.hovered .m-layer1 { background-image: none; }

.mfv-7.selected { background-image: url(../m-image/6/2/atleticoparan-1.png); }
.mfv-7.selected .m-layer1 { background-image: none; }

.mfv-7.selected.hovered { background-image: none; }
.mfv-7.selected.hovered .m-layer1 { background-image: none; }
.mfv-7-state,
.mfv-7-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-7-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-7-state { background-image: url(../m-image/6/2/atleticoparan-2.png); }
.mfv-7-state .m-layer1 { background-image: none; }

.mfv-8 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-8 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-8 { background-image: url(../m-image/8/b/botafogo.png); }
.mfv-8 .m-layer1 { background-image: none; }

.mfv-8.hovered { background-image: none; }
.mfv-8.hovered .m-layer1 { background-image: none; }

.mfv-8.selected { background-image: url(../m-image/8/b/botafogo-1.png); }
.mfv-8.selected .m-layer1 { background-image: none; }

.mfv-8.selected.hovered { background-image: none; }
.mfv-8.selected.hovered .m-layer1 { background-image: none; }
.mfv-8-state,
.mfv-8-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-8-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-8-state { background-image: url(../m-image/8/b/botafogo-2.png); }
.mfv-8-state .m-layer1 { background-image: none; }

.mfv-9 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-9 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-9 { background-image: url(../m-image/7/c/corinthians.png); }
.mfv-9 .m-layer1 { background-image: none; }

.mfv-9.hovered { background-image: none; }
.mfv-9.hovered .m-layer1 { background-image: none; }

.mfv-9.selected { background-image: url(../m-image/7/c/corinthians-1.png); }
.mfv-9.selected .m-layer1 { background-image: none; }

.mfv-9.selected.hovered { background-image: none; }
.mfv-9.selected.hovered .m-layer1 { background-image: none; }
.mfv-9-state,
.mfv-9-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-9-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-9-state { background-image: url(../m-image/7/c/corinthians-2.png); }
.mfv-9-state .m-layer1 { background-image: none; }

.mfv-10 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-10 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-10 { background-image: url(../m-image/e/c/cruzeiro.png); }
.mfv-10 .m-layer1 { background-image: none; }

.mfv-10.hovered { background-image: none; }
.mfv-10.hovered .m-layer1 { background-image: none; }

.mfv-10.selected { background-image: url(../m-image/e/c/cruzeiro-1.png); }
.mfv-10.selected .m-layer1 { background-image: none; }

.mfv-10.selected.hovered { background-image: none; }
.mfv-10.selected.hovered .m-layer1 { background-image: none; }
.mfv-10-state,
.mfv-10-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-10-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-10-state { background-image: url(../m-image/e/c/cruzeiro-2.png); }
.mfv-10-state .m-layer1 { background-image: none; }

.mfv-11 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-11 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-11 { background-image: url(../m-image/a/5/curitiba.png); }
.mfv-11 .m-layer1 { background-image: none; }

.mfv-11.hovered { background-image: none; }
.mfv-11.hovered .m-layer1 { background-image: none; }

.mfv-11.selected { background-image: url(../m-image/a/5/curitiba-1.png); }
.mfv-11.selected .m-layer1 { background-image: none; }

.mfv-11.selected.hovered { background-image: none; }
.mfv-11.selected.hovered .m-layer1 { background-image: none; }
.mfv-11-state,
.mfv-11-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-11-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-11-state { background-image: url(../m-image/a/5/curitiba-2.png); }
.mfv-11-state .m-layer1 { background-image: none; }

.mfv-12 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-12 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-12 { background-image: none; }
.mfv-12 .m-layer1 { background-image: none; }

.mfv-12.hovered { background-image: none; }
.mfv-12.hovered .m-layer1 { background-image: none; }

.mfv-12.selected { background-image: none; }
.mfv-12.selected .m-layer1 { background-image: none; }

.mfv-12.selected.hovered { background-image: none; }
.mfv-12.selected.hovered .m-layer1 { background-image: none; }
.mfv-12-state,
.mfv-12-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-12-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-12-state { background-image: none; }
.mfv-12-state .m-layer1 { background-image: none; }

.mfv-13 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-13 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-13 { background-image: url(../m-image/9/b/figueirense.png); }
.mfv-13 .m-layer1 { background-image: none; }

.mfv-13.hovered { background-image: none; }
.mfv-13.hovered .m-layer1 { background-image: none; }

.mfv-13.selected { background-image: url(../m-image/9/b/figueirense-2.png); }
.mfv-13.selected .m-layer1 { background-image: none; }

.mfv-13.selected.hovered { background-image: none; }
.mfv-13.selected.hovered .m-layer1 { background-image: none; }
.mfv-13-state,
.mfv-13-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-13-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-13-state { background-image: none; }
.mfv-13-state .m-layer1 { background-image: none; }

.mfv-14 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-14 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-14 { background-image: url(../m-image/4/0/flamengo.png); }
.mfv-14 .m-layer1 { background-image: none; }

.mfv-14.hovered { background-image: none; }
.mfv-14.hovered .m-layer1 { background-image: none; }

.mfv-14.selected { background-image: url(../m-image/4/0/flamengo-1.png); }
.mfv-14.selected .m-layer1 { background-image: none; }

.mfv-14.selected.hovered { background-image: none; }
.mfv-14.selected.hovered .m-layer1 { background-image: none; }
.mfv-14-state,
.mfv-14-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-14-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-14-state { background-image: url(../m-image/4/0/flamengo-2.png); }
.mfv-14-state .m-layer1 { background-image: none; }

.mfv-15 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-15 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-15 { background-image: url(../m-image/2/6/internacional.png); }
.mfv-15 .m-layer1 { background-image: none; }

.mfv-15.hovered { background-image: none; }
.mfv-15.hovered .m-layer1 { background-image: none; }

.mfv-15.selected { background-image: url(../m-image/2/6/internacional-1.png); }
.mfv-15.selected .m-layer1 { background-image: none; }

.mfv-15.selected.hovered { background-image: none; }
.mfv-15.selected.hovered .m-layer1 { background-image: none; }
.mfv-15-state,
.mfv-15-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-15-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-15-state { background-image: url(../m-image/2/6/internacional-2.png); }
.mfv-15-state .m-layer1 { background-image: none; }

.mfv-16 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-16 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-16 { background-image: none; }
.mfv-16 .m-layer1 { background-image: none; }

.mfv-16.hovered { background-image: none; }
.mfv-16.hovered .m-layer1 { background-image: none; }

.mfv-16.selected { background-image: none; }
.mfv-16.selected .m-layer1 { background-image: none; }

.mfv-16.selected.hovered { background-image: none; }
.mfv-16.selected.hovered .m-layer1 { background-image: none; }
.mfv-16-state,
.mfv-16-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-16-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-16-state { background-image: none; }
.mfv-16-state .m-layer1 { background-image: none; }

.mfv-17 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-17 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-17 { background-image: url(../m-image/c/9/palmeiras.png); }
.mfv-17 .m-layer1 { background-image: none; }

.mfv-17.hovered { background-image: none; }
.mfv-17.hovered .m-layer1 { background-image: none; }

.mfv-17.selected { background-image: url(../m-image/c/9/palmeiras-1.png); }
.mfv-17.selected .m-layer1 { background-image: none; }

.mfv-17.selected.hovered { background-image: none; }
.mfv-17.selected.hovered .m-layer1 { background-image: none; }
.mfv-17-state,
.mfv-17-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-17-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-17-state { background-image: url(../m-image/c/9/palmeiras-2.png); }
.mfv-17-state .m-layer1 { background-image: none; }

.mfv-18 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-18 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-18 { background-image: url(../m-image/c/3/santacruz-1.png); }
.mfv-18 .m-layer1 { background-image: none; }

.mfv-18.hovered { background-image: none; }
.mfv-18.hovered .m-layer1 { background-image: none; }

.mfv-18.selected { background-image: url(../m-image/c/3/santacruz-2.png); }
.mfv-18.selected .m-layer1 { background-image: none; }

.mfv-18.selected.hovered { background-image: none; }
.mfv-18.selected.hovered .m-layer1 { background-image: none; }
.mfv-18-state,
.mfv-18-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-18-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-18-state { background-image: url(../m-image/c/3/santacruz-3.png); }
.mfv-18-state .m-layer1 { background-image: none; }

.mfv-19 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-19 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-19 { background-image: url(../m-image/1/c/santos-1.png); }
.mfv-19 .m-layer1 { background-image: none; }

.mfv-19.hovered { background-image: none; }
.mfv-19.hovered .m-layer1 { background-image: none; }

.mfv-19.selected { background-image: url(../m-image/1/c/santos-2.png); }
.mfv-19.selected .m-layer1 { background-image: none; }

.mfv-19.selected.hovered { background-image: none; }
.mfv-19.selected.hovered .m-layer1 { background-image: none; }
.mfv-19-state,
.mfv-19-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-19-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-19-state { background-image: url(../m-image/1/c/santos-3.png); }
.mfv-19-state .m-layer1 { background-image: none; }

.mfv-20 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-20 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-20 { background-image: url(../m-image/7/0/saopaulo.png); }
.mfv-20 .m-layer1 { background-image: none; }

.mfv-20.hovered { background-image: none; }
.mfv-20.hovered .m-layer1 { background-image: none; }

.mfv-20.selected { background-image: url(../m-image/7/0/saopaulo-1.png); }
.mfv-20.selected .m-layer1 { background-image: none; }

.mfv-20.selected.hovered { background-image: none; }
.mfv-20.selected.hovered .m-layer1 { background-image: none; }
.mfv-20-state,
.mfv-20-state .m-layer1 {
    width: 25px;
    height: 25px;
}
/*.mfv-20-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}*/

.mfv-20-state { background-image: url(../m-image/7/0/saopaulo-2.png); }
.mfv-20-state .m-layer1 { background-image: none; }

.mfv-21 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-21 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-21 { background-image: url(../m-image/d/9/vasco.png); }
.mfv-21 .m-layer1 { background-image: none; }

.mfv-21.hovered { background-image: none; }
.mfv-21.hovered .m-layer1 { background-image: none; }

.mfv-21.selected { background-image: url(../m-image/d/9/vasco-1.png); }
.mfv-21.selected .m-layer1 { background-image: none; }

.mfv-21.selected.hovered { background-image: none; }
.mfv-21.selected.hovered .m-layer1 { background-image: none; }
.mfv-21-state,
.mfv-21-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-21-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-21-state { background-image: url(../m-image/d/9/vasco-2.png); }
.mfv-21-state .m-layer1 { background-image: none; }

.mfv-22 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-22 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-22 { background-image: url(../m-image/7/4/vitoria.png); }
.mfv-22 .m-layer1 { background-image: none; }

.mfv-22.hovered { background-image: none; }
.mfv-22.hovered .m-layer1 { background-image: none; }

.mfv-22.selected { background-image: url(../m-image/7/4/vitoria-1.png); }
.mfv-22.selected .m-layer1 { background-image: none; }

.mfv-22.selected.hovered { background-image: none; }
.mfv-22.selected.hovered .m-layer1 { background-image: none; }
.mfv-22-state,
.mfv-22-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-22-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-22-state { background-image: url(../m-image/7/4/vitoria-2.png); }
.mfv-22-state .m-layer1 { background-image: none; }

.mfv-132 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-132 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-132 { background-image: none; }
.mfv-132 .m-layer1 { background-image: none; }

.mfv-132.hovered { background-image: none; }
.mfv-132.hovered .m-layer1 { background-image: none; }

.mfv-132.selected { background-image: none; }
.mfv-132.selected .m-layer1 { background-image: none; }

.mfv-132.selected.hovered { background-image: none; }
.mfv-132.selected.hovered .m-layer1 { background-image: none; }
.mfv-132-state,
.mfv-132-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-132-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-132-state { background-image: none; }
.mfv-132-state .m-layer1 { background-image: none; }

.mfv-133 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-133 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-133 { background-image: none; }
.mfv-133 .m-layer1 { background-image: none; }

.mfv-133.hovered { background-image: none; }
.mfv-133.hovered .m-layer1 { background-image: none; }

.mfv-133.selected { background-image: none; }
.mfv-133.selected .m-layer1 { background-image: none; }

.mfv-133.selected.hovered { background-image: none; }
.mfv-133.selected.hovered .m-layer1 { background-image: none; }
.mfv-133-state,
.mfv-133-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-133-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-133-state { background-image: none; }
.mfv-133-state .m-layer1 { background-image: none; }

.mfv-134 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-134 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-134 { background-image: none; }
.mfv-134 .m-layer1 { background-image: none; }

.mfv-134.hovered { background-image: none; }
.mfv-134.hovered .m-layer1 { background-image: none; }

.mfv-134.selected { background-image: none; }
.mfv-134.selected .m-layer1 { background-image: none; }

.mfv-134.selected.hovered { background-image: none; }
.mfv-134.selected.hovered .m-layer1 { background-image: none; }
.mfv-134-state,
.mfv-134-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-134-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-134-state { background-image: none; }
.mfv-134-state .m-layer1 { background-image: none; }

.mfv-135 .m-layer1 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}
.mfv-135 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
}

.mfv-135 { background-image: none; }
.mfv-135 .m-layer1 { background-image: none; }

.mfv-135.hovered { background-image: none; }
.mfv-135.hovered .m-layer1 { background-image: none; }

.mfv-135.selected { background-image: none; }
.mfv-135.selected .m-layer1 { background-image: none; }

.mfv-135.selected.hovered { background-image: none; }
.mfv-135.selected.hovered .m-layer1 { background-image: none; }
.mfv-135-state,
.mfv-135-state .m-layer1 {
    width: 25px;
    height: 25px;
}
.mfv-135-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-135-state { background-image: none; }
.mfv-135-state .m-layer1 { background-image: none; }

