downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
/var/*
/media/*
media/catalog/product/cache
includes/
!*/.htaccess
.DS_Store
*.swp
*.lock
__MACOSX
Thumbs.db
!/app/.htaccess
!/downloader/.htaccess
!/downloader/template/.htaccess
!/errors/.htaccess
!/includes/.htaccess
!/lib/.htaccess
!/media/.htaccess
!/media/customer/.htaccess
!/media/downloadable/.htaccess
!/pkginfo/.htaccess
!/var/.htaccess
!var/package/
!var/backups/
!var/app/

/.idea/*

app/etc/modules/Cerebrum_Telencephalon.xml
app/etc/local.xml