<?xml version="1.0"?>
<config>
    <modules>
        <Manage_Adminhtml>
            <version>1.1</version>
        </Manage_Adminhtml>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_create_search_grid>Manage_Adminhtml_Block_Sales_Order_Create_Search_Grid</sales_order_create_search_grid>
                    <customer_grid>Manage_Adminhtml_Block_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <manage_adminhtml>
                <class>Manage_Adminhtml_Model</class>
            </manage_adminhtml>
        </models>

        <events>
            <adminhtml_block_html_before>
                <observers>
                    <manage_adminhtml>
                        <class>manage_adminhtml/observer</class>
                        <method>getCustomerGrid</method>
                    </manage_adminhtml>
                </observers>
            </adminhtml_block_html_before>
        </events>

        <resources>
            <adminhtml_setup>
                <setup>
                    <module>Manage_Adminhtml</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminhtml_setup>
            <adminhtml_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminhtml_write>
            <adminhtml_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminhtml_read>
        </resources>
    </global>

    <global>
        <fieldsets>
            <customer_account>
                <credit_limit>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </credit_limit>
                <open_value>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </open_value>
                <has_stande>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </has_stande>
                <payment_range>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </payment_range>
            </customer_account>
        </fieldsets>
    </global>
</config>