.product-options-bottom .ajaxcartx-qty { float: right; margin-right: 10px; }
.category-products-grid.hover-effect .item .ajaxcartx-qty { margin: 0 0 0 1px; z-index: 1; }
.catalog-product-view .ajaxcartx-qty { float: right; margin-right: 15px; }
.wishlist-index-index .ajaxcartx-qty { margin: 14px 6px 0 -8px; float: right; }