<?xml version="1.0"?>
<config>
    <modules>
        <Devinc_Ajaxcartx>
            <version>0.3.0</version>
        </Devinc_Ajaxcartx>
    </modules>
    <frontend>
		<secure_url>
            <wishlist>/ajaxcartx/wishlist</wishlist>
            <ajaxcartx>/ajaxcartx/cart</ajaxcartx>
        </secure_url>
        <routers>
            <ajaxcartx>
                <use>standard</use>
                <args>
                    <module>Devinc_Ajaxcartx</module>
                    <frontName>ajaxcartx</frontName>
                </args>
            </ajaxcartx>            
			<checkout>
				<args>
					<modules>
						<ajaxcartx before="Mage_Checkout_CartController">
							Devinc_Ajaxcartx_CartController
						</ajaxcartx>
					</modules>
				</args>
			</checkout> 
			<wishlist>
				<args>
					<modules>
						<ajaxcartx before="Mage_Wishlist_IndexController">
							Devinc_Ajaxcartx_WishlistController
						</ajaxcartx>
					</modules>
				</args>
			</wishlist> 
			<catalog>
				<args>
					<modules>
						<ajaxcartx before="Mage_Catalog_Product_CompareController">
							Devinc_Ajaxcartx_Product_CompareController
						</ajaxcartx>
					</modules>
				</args>
			</catalog> 
        </routers>
        <layout>
            <updates>
                <ajaxcartx>
                    <file>ajaxcartx.xml</file>
                </ajaxcartx>
            </updates>
        </layout>
        <translate>
            <modules>
                <ajaxcartx>
                    <files>
                        <default>Ajaxcartx.csv</default>
                    </files>
                </ajaxcartx>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <update_blocks>
                        <type>singleton</type>
                        <class>ajaxcartx/observer</class>
                        <method>updateBlocksBefore</method>
                    </update_blocks>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <update_blocks>
                        <type>singleton</type>
                        <class>ajaxcartx/observer</class>
                        <method>updateBlocksAfter</method>
                    </update_blocks>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_cart_update_items_before>
                <observers>
                    <update_custom_options>
                        <type>singleton</type>
                        <class>ajaxcartx/observer</class>
                        <method>updateCustomOptions</method>
                    </update_custom_options>
                </observers>
            </checkout_cart_update_items_before>        
            <catalog_product_collection_load_after> 
                <observers> 
                    <set_product_min_max> 
                        <type>singleton</type> 
                        <class>ajaxcartx/observer</class> 
                        <method>setProductMinMax</method> 
                    </set_product_min_max> 
                </observers> 
            </catalog_product_collection_load_after>        
        </events>
    </frontend>
    <adminhtml>
		<layout>
			<updates>
				<ajaxcartx>
					<file>ajaxcartx.xml</file>
				</ajaxcartx>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>						
						<system>
						   <children>
							<config>
							 <children>
							  <ajaxcartx translate="title" module="ajaxcartx">
							   <title>Ajax Cart</title>
							   <sort_order>20</sort_order>
							  </ajaxcartx>
							 </children>
							</config>
						   </children>
						  </system>						
					</children>
				</admin>			
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <ajaxcartx>
                <class>Devinc_Ajaxcartx_Model</class>
            </ajaxcartx>
            <catalog>
                <rewrite>
                    <product_url>Devinc_License_Model_Ajaxcartx_Catalog_Product_Url</product_url>
                </rewrite>
            </catalog>  
        </models>
        <resources>
            <ajaxcartx_setup>
                <setup>
                    <module>Devinc_Ajaxcartx</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcartx_setup>
        </resources>
        <blocks>
            <ajaxcartx>
                <class>Devinc_Ajaxcartx_Block</class>
            </ajaxcartx>
            <groupdeals>
                <rewrite>
                    <product_list>Devinc_Ajaxcartx_Block_Groupdeals_Catalog_Product_List</product_list>
                    <product_list_sidedeals>Devinc_Ajaxcartx_Block_Groupdeals_Catalog_Product_List_Sidedeals</product_list_sidedeals>
                    <product_list_universaldeals>Devinc_Ajaxcartx_Block_Groupdeals_Catalog_Product_List_Universaldeals</product_list_universaldeals>
                </rewrite>
            </groupdeals> 
			<multipledeals>
                <rewrite>
                    <list>Devinc_Ajaxcartx_Block_Multipledeals_Catalog_Product_List</list>
                    <recent>Devinc_Ajaxcartx_Block_Multipledeals_Catalog_Product_Recent</recent>
                </rewrite>
            </multipledeals>    
            <page>
                <rewrite>
                    <html_header>Devinc_Ajaxcartx_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>   
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Devinc_Ajaxcartx_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>   
            <bundle>
                <rewrite>
                    <checkout_cart_item_renderer>Devinc_Ajaxcartx_Block_Bundle_Checkout_Cart_Item_Renderer</checkout_cart_item_renderer>
                </rewrite>
            </bundle>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Devinc_Ajaxcartx_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                    <cart_item_renderer_configurable>Devinc_Ajaxcartx_Block_Checkout_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
            <wishlist>
                <rewrite>
                    <customer_sidebar>Devinc_Ajaxcartx_Block_Wishlist_Customer_Sidebar</customer_sidebar>
                </rewrite>
            </wishlist>
            <enterprise_wishlist>
                <rewrite>
                    <customer_sidebar>Devinc_Ajaxcartx_Block_Enterprise_Wishlist_Customer_Sidebar</customer_sidebar>
                </rewrite>
            </enterprise_wishlist>
        </blocks>
        <helpers>
            <ajaxcartx>
                <class>Devinc_Ajaxcartx_Helper</class>
            </ajaxcartx>
        </helpers>		
    </global>	
</config>