<?xml version="1.0" ?>
<!-- Root node for Magento configuration files -->
<config>
  <!-- modules node provides basic information about the module -->
  <modules>
    <Franchise_Stock>
      <!-- Current version of module -->
      <version>0.0.1</version>
    </Franchise_Stock>
  </modules>
  <!-- This node contains parameters, available on frontend -->
  <frontend>
    <routers>
      <stock>
        <use>standard</use>
        <args>
          <module>Franchise_Stock</module>
          <frontName>stock</frontName>
        </args>
      </stock>
    </routers>
    <layout>
      <updates>
        <stock>
          <file>stock.xml</file>
        </stock>
      </updates>
    </layout>
    <events>
      <checkout_onepage_controller_success_action>
        <observers>
          <stock_order_success>
            <type>singleton</type>
            <class>stock/FranchiseProducts</class>
            <method>orderSaveEvent</method>
          </stock_order_success>
        </observers>
      </checkout_onepage_controller_success_action>
    </events>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <stock translate="title">
                      <title>Franchise Section</title>
                      <sort_order>10</sort_order>
                    </stock>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <stock>
          <file>stock.xml</file>
        </stock>
      </updates>
    </layout>
    <menu>
      <franchise translate="title" module="adminhtml">
        <title>Franquias</title>
        <sort_order>100</sort_order>
        <children>
          <dashboard>
            <title>Painel</title>
            <sort_order>110</sort_order>
            <action>stock/adminhtml_franchise</action>
          </dashboard>
          <test>
            <title>Set Franchise Product</title>
            <sort_order>119</sort_order>
            <action>stock/adminhtml_myform</action>
          </test>
        </children>
      </franchise>
    </menu>
  </adminhtml>
  <global>
    <models>
      <stock>
        <class>Franchise_Stock_Model</class>
        <resourceModel>stock_mysql4</resourceModel>
      </stock>
      <stock_mysql4>
        <class>Franchise_Stock_Model_Mysql4</class>
        <entities>
          <product>
            <table>stock_product</table>
          </product>
        </entities>
        <entities>
          <Saleperpartner>
            <table>stock_Saleperpartner</table>
          </Saleperpartner>
        </entities>
      </stock_mysql4>
    </models>
    <resources>
      <stock_setup>
        <setup>
          <module>Franchise_Stock</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </stock_setup>
      <stock_write>
        <connection>
          <use>core_write</use>
        </connection>
      </stock_write>
      <stock_read>
        <connection>
          <use>core_read</use>
        </connection>
      </stock_read>
    </resources>
    <blocks>
      <stock>
        <class>Franchise_Stock_Block</class>
      </stock>
    </blocks>
    <helpers>
      <stock>
        <class>Franchise_Stock_Helper</class>
      </stock>
    </helpers>
  </global>
</config>
