<?xml version="1.0" encoding="UTF-8"?>
<config>
  <tabs>
    <franchise translate="label" module="stock">
      <label>Last Units Plugin</label>
      <sort_order>99999</sort_order>
    </franchise>
  </tabs>
  <sections>
    <stock_options translate="label" module="stock">
      <label>Last Units Settings</label>
      <tab>franchise</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <backend_group translate="label">
          <label>Last Units Stock settings</label>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <last_unit_instructions translate="label">
              <label>Last Units Stock limit</label>
              <frontend_type>text</frontend_type>
              <sort_order>0</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Products with an amount below or equal to this value will display the warning.</comment>
            </last_unit_instructions>
          </fields>
        </backend_group>
      </groups>
    </stock_options>
  </sections>
</config>
