<?xml version="1.0"?>
<config>
    <modules>
        <Manage_Redirect>
            <version>1.0.0</version>
        </Manage_Redirect>
    </modules>
    <global>
        <models>
            <redirect>
                <class>Manage_Redirect_Model</class>
            </redirect>
        </models>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <redirect>
                        <class>redirect/observer</class>
                        <method>adminRedirect</method>
                    </redirect>
                </observers>
            </admin_session_user_login_success>
        </events>
    </global>
</config>