<?xml version="1.0"?>
<config>
	<modules>
		<Wizard_Customer>
			<version>0.1.1</version>
		</Wizard_Customer>
	</modules>

	<global>
		<fieldsets>
			<customer_account>
				<referenceone>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </referenceone>
			</customer_account>
		</fieldsets>
	</global>

	<global>
        <models>
            <customer>
                <class>Wizard_Customer_Model</class>
            </customer>
        </models>

		<resources>
			<customer_setup>
				<setup>
					<module>Wizard_Customer</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customer_setup>
			<customer_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customer_write>
			<customer_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customer_read>
		</resources>

		<helpers>
			<customer>
				<class>Wizard_Customer_Helper</class>
			</customer>
		</helpers>
	</global>
</config>